.name{
    font-size: xx-large;
}

html{
    scroll-behavior: smooth;
}
.social-list a{
    color: rgb(17, 15, 15);
}
.navlist a{
    transition: all 0.3s ease;
    display: inline-block;
}

.social-list ul{
    display: flex;
    list-style: none; 
    gap: 20px;  
}

.navlist{
    background-color:#f5f2e9;
    border-radius: 40px;
}

.navlist ul {
    padding: 15px;
}

.navlist a:hover,i:hover{
    transform: translateY(-5px);
    color: orangered;
}

.orange{
    color: rgb(235, 80, 24);
    font-weight: 560;
}

.handburger{
    display: none;
}


.home{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.home i{
    font-size: 1rem;
    color: rgb(241, 92, 37);
}

.home img{
    border-radius: 50px;
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50px;
}

.content{
    padding: 90px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: larger;
    width: 80%;
}

.content button{
    width: 100px;
    border: none;
    background-color: rgb(235, 80, 24);
    padding: 5px;
    border-radius: 50px;
}

.personalDetails ul{
    display: flex;
    list-style: none;
    gap: 10px;
    font-weight: 600;
}

.about-content{
    text-align: center;
    padding: 60px;
    font-size: larger;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skill-contents h1{
    font-size: xx-large;
    padding-top: 20px;
}

.skill-contents{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,150px);
}

.projects h1{
    text-align: center;
    font-size: xx-large;
    padding-top: 20px;
}

.projects {
  display: flex;
  flex-direction: column; 
  gap: 60px;              
  max-width: 1000px;      
  margin: 0 auto;         
}

.card {
  width: 100%;  
  display: flex;
}

.card .content {
  background: #f5f2e9;    
  padding: 20px;          
  border-radius: 12px;    
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
  max-width: 450px;       
}

.card.left {
  justify-content: flex-start;
}

.card.right {
  justify-content: flex-end;
}



.card a {
  display: inline-block;
  margin-top: 10px;
  color: orangered;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

#contact h1{
    text-align: center;
    padding-top: 50px;
    font-size: xx-large;
}

.contact-flex{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: larger;
    padding-top: 30px;
}

.contact-flex ul{
    list-style: none;
}

.contact-details li{
    padding: 4px;
}



.contact-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}



.sendMessage{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sendMessage input,.sendMessage textarea{
    border: 2px solid black;
}

.sendMessage button{
    border: none;
    background-color: rgb(235, 80, 24);
    height: 30px;
    border-radius: 50px;
}

#footer{
    text-align: center ;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 80, 24);
    color: rgb(231, 221, 221);
    padding: 40px;
    align-items: center;
    gap: 15px;
}

#footer i{
    color: antiquewhite;
    font-size: large;
}


@media screen and (max-width: 768px) {

    nav{
        padding: 15px 15px;
    }

    .handburger{
        display: block;
    }

    main{
        padding: 1px;
    }

    .large{
        font-size: xx-large;
        cursor: pointer;
    }

    .navlist {
        display: none;
        flex-direction: column;
        position: absolute;
        margin-top: 350px;
        background-color: #ffe4e4;
        padding: 10px;
        right: 5px;
    }

    .navlist ul{
        position: relative;
        flex-direction: column;
        
    }

    .navlist.active{
        display: flex;
    }


    .handburger i:hover{
        cursor: pointer;
        transform: none;
        color: black;
    }

    .nav-social-links{
        display: none;
    }
  
  .home {
    flex-direction: column;   
    text-align: center;   
    align-items: center;  
  }

  .home img{
    height: 300px;
    width: 300px;
    order: -1;
  }

  .content{
    width: 100%;
    align-items: center;
  }

  .content p{
    width: 100%;
    text-align: justify;
    padding-bottom: 10px;
  }

  .personalDetails ul{
    flex-direction: column;
  }

  .about-content p{
        text-align: justify;
  }

  .projects{
    padding: 0 10px;
  }


  .contact-flex{
    flex-direction: column;
    align-items: center;
  }

  .sendMessage{
    width: 60%;
    align-items: center;
  }

  .sendMessage button{
    padding: 2%;
    margin-bottom: 10px;
    color: rgb(240, 238, 238);
  }
}

@media screen and (max-width: 1024px) {
    
  .nav-social-links {
    display: none;
  }

  .home{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1px ;
  }

  .content p{
    text-align: justify;
  }

  .home img{
        order: -1;
  }

  .personalDetails{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .personalDetails ul{
    flex-direction: column;
  }

  .content{
    align-items: center;
  }


}